CONFIG_LV_CONF_SKIP=y
CONFIG_LV_USE_OBSERVER=y
CONFIG_LV_USE_SYSMON=y
# CONFIG_LV_USE_PERF_MONITOR is not set
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_FREERTOS_HZ=1000
CONFIG_XPT2046_Z_THRESHOLD=50
CONFIG_ESP_LCD_TOUCH_MAX_POINTS=1
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_1=y
